<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785401823835-ssr5oouk8607qgpnrchbv3d4v45meead.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785401823835-ssr5oouk8607qgpnrchbv3d4v45meead</string>
	<key>API_KEY</key>
	<string>AIzaSyBHnyOVnHcBzFTpxYIZB3AW2sX0drJfJmE</string>
	<key>GCM_SENDER_ID</key>
	<string>785401823835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KalanishMelito.LiftingLog</string>
	<key>PROJECT_ID</key>
	<string>liftinglog-8aec6</string>
	<key>STORAGE_BUCKET</key>
	<string>liftinglog-8aec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785401823835:ios:57336f5e2a960f6fbd357e</string>
</dict>
</plist>